table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    padding: 12px;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .btn-sm {
    font-size: 14px;
  }
  